:root {
  font-size: 20px;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow: hidden;
  position: relative;
}

@font-face {
  font-family: "roman"; /*a name to be used later*/
  src: url("./fonts/Romans Story.ttf"); /*URL to font*/
}
@font-face {
  font-family: "joe"; /*a name to be used later*/
  src: url("./fonts/Slim Joe.otf"); /*URL to font*/
}
@font-face {
  font-family: "montreal"; /*a name to be used later*/
  src: url("./fonts/NeueMontreal-Regular.otf"); /*URL to font*/
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.frame {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 4px solid white; /* Creates the connected border */
  z-index: 2;
}

@font-face {
  font-family: "roman";
  src: url("./fonts/Romans Story.ttf");
}

@font-face {
  font-family: "montreal";
  src: url("./fonts/NeueMontreal-Regular.otf");
}

.text-container {
  position: absolute;
  bottom: max(3vw, 3vh); /* Distance from bottom */
  left: max(3vw, 3vh); /* Distance from left */
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 2;
}

.title {
  font-family: "roman", serif;
  font-size: max(7vw, 7vh);
  font-weight: bold;
}

.subtitle {
  font-family: "joe", sans-serif;
  font-size: max(2vw, 2vh);
  position: relative;
  left: 10px;
}

.shadow-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  pointer-events: none;
  z-index: 0;
}

.button-container {
  position: absolute;
  top: max(3vw, 3vh);
  right: max(3vw, 3vh);
  display: flex;
  gap: max(2vw, 2vh);
  z-index: 3;
}

.button {
  color: white; /* White icon color */
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 50%; /* Circular buttons */
  font-size: 24px; /* Adjust icon size */
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  color: #f6a90f; /* Darker background on hover */
}

/* Optional: Add icons if using FontAwesome */
.github-icon {
  font-size: 24px;
}

.linkedin-icon {
  font-size: 24px;
}

.email-icon {
  font-size: 24px;
}

.sound-icon {
  font-size: 24px;
}

@media (max-width: 600px) {
  .button-container {
    /* top: max(2vw, 2vh);
    right: max(2vw, 2vh); */
    gap: max(1vw, 1vh); /* Smaller gap on smaller screens */
  }
  .button {
    padding: 8px; /* Smaller buttons on smaller screens */
    font-size: 18px;
  }
}
